<a href="https://colab.research.google.com/github/Stats-Khalid/Python-programming/blob/main/Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
person_info = {
    "name": "shan",
    "age": 20,
    "married": "bachelor",  # Assuming "bachlor" means not married
    "sex": "male",
    "education": "post_graduate"
}

In [30]:
print(person_info)

{'name': 'shan', 'age': 20, 'married': 'bachelor', 'sex': 'male', 'education': 'post_graduate'}

In [31]:
print("Name:", person_info["name"])
print("Age:", person_info["age"])

Name: shan
Age: 20

In [32]:
person_info["city"] = "New York"           # Adding one more information
print(person_info)

{'name': 'shan', 'age': 20, 'married': 'bachelor', 'sex': 'male', 'education': 'post_graduate', 'city': 'New York'}

In [33]:
person_info["age"] = 21     #modification
print(person_info)

{'name': 'shan', 'age': 21, 'married': 'bachelor', 'sex': 'male', 'education': 'post_graduate', 'city': 'New York'}

In [34]:
del person_info["married"]         #deleting an element
print(person_info)

{'name': 'shan', 'age': 21, 'sex': 'male', 'education': 'post_graduate', 'city': 'New York'}

In [35]:
print("education" in person_info)

True

In [36]:
print("married" in person_info)

False

In [37]:
# Iterating through keys and values
for key, value in person_info.items():
    print(f"{key}: {value}")

name: shan
age: 21
sex: male
education: post_graduate
city: New York